<!DOCTYPE html>
<html lang="fr">
  <head>
    <title>CMIX</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="index.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div class="topnav">
      <a href="index.html">
        <img id="logocmix" src="logocmix.png">
      </a>
      <a class="active"  href="demandes.html">Demandes</a>
      <a href="events.html">Events Passés</a>
      <a href="paps.html">Paps</a>
    </div>
    <h1>CMIX</h1>
    Demandes
  </body>
</html>