<!DOCTYPE html>
<html lang="fr">

{% extends 'base.html' %}

{% block content %}
{% load static %}

<body>
  <script src="https://cdn.jsdelivr.net/npm/publicalbum@latest/embed-ui.min.js" async></script>
  <div class="pa-carousel-widget" style="width:100%; height:480px; display:none;"
    data-link="https://photos.app.goo.gl/M5Z78gMh27igqeuc6" data-title="L'équipe de choc" data-description=""
    data-delay="2">
    <object
      data="https://lh3.googleusercontent.com/lhza0I8k5mY149V-FCA4cCEWR0ZGsanOUmbgfLv9aa0xtFLCi_l1DJ47TciEZ-zFvVoUH8hwO22uhbgnwA9m-oMIgNpnZa8pKRowXw09dvxFJCM66C9U5a9Klbp92EifO_WAsno-PkM=w1920-h1080"></object>
    <object
      data="https://lh3.googleusercontent.com/ogKRCIa1ltK392xHDT_kyAcx5QJexFUv1PjWZQimZLgGUn-zgNPs347jDwTDOayQHhBbvW3vzIN9ONkUmePR2JPxa3sHF2HRUSdUYBfhXM8whDjpTQM8q6YF4ApBILKJ5i1E4Q1H838=w1920-h1080"></object>
    <object
      data="https://lh3.googleusercontent.com/pgn0PYuKzNIajkT-ajlf83u5HjDVCrC2Y7YFJNyTvlDitIHqoA0dtSEsnRus6I9JHryqpg-GyhuURxosKQryQ4ZHEaCawz0xmAArW6m_M4uVUKjWLokLhhY9yuCxfxfEGcLdR1OwiVg=w1920-h1080"></object>
    <object
      data="https://lh3.googleusercontent.com/y_Kdyam40hVSxtcN8KNqHnCpIpo166vgBD2G3Wq76unQ_UwYpsIjnWwMhiNhwHki-lDcIom9wHLYeC5vDDBqUG3d-BE3VyC64IXp_2RxlmLIjFpBdhXhMCMq4vvCr4r4LmTSqAPwOAI=w1920-h1080"></object>
    <object
      data="https://lh3.googleusercontent.com/Pof79XADUFMynz148TWVn34SAupwCoThxBRCTdOKOQ4Rh_Jt0JWuwwWvtwZT1LUAZ0j7H7MK-2RUpdVj1bPrtNA9F-BsuDw-G1i5XVJWk0n4aRBIG08ep4pDPOr4tb3wsRsX5zsFTMI=w1920-h1080"></object>
    <object
      data="https://lh3.googleusercontent.com/pCmz8nAm2o6w33WPqLZLXa813ibjFV2egsIKCbyYazhDNOly0B60jlbKIVQvstQbTWWVdFL_2MSNF9tLXJc9XJq7J2dcbdlV9111dhe09qUWd32EpCsz9lZuYTIZYyqfd74TlwsCaug=w1920-h1080"></object>
    <object
      data="https://lh3.googleusercontent.com/2fWOkPRbE1dYttXspPLUuwGSzWNqsQOcmssQUKtXRdf7byxRRUFPm4ZEL_czYWoMsTj-qloJUwrV97889aEPUTFIxHg4q786fCH9UO6wW4o7kgB8EiqS7xigWvlRFRT93qq2KRdmdZY=w1920-h1080"></object>
    <object
      data="https://lh3.googleusercontent.com/FQpp2EwBLdf7GtchUhR1YP0MKQkpYnflefO0EQ__ZMK3UfXfrPzOdVpMhlsvJHOD7fqXVYavoYyj9Dxj5FMDroeAATWHwMRhgTa6BayhhGe5tNdkjY5SFq904XYbh9KX0kG8lS3s28o=w1920-h1080"></object>
    <object
      data="https://lh3.googleusercontent.com/GQvEjrPY7rn5VYWp9th9BhY2rwLiDFPT2n3sQzGpXiyYGOw53UxRBptyw6L_Ldvp1V7NYKlG9QAdd1xZhDHs1jPSu4OTygIiqnShQmD9v8cjE6Y_nLJcBBB47UIKzutl9_bE3h0M1hc=w1920-h1080"></object>
    <object
      data="https://lh3.googleusercontent.com/Hg7yWzWj9Ni9PkknxDLtrASFLYmiGogRDKVHsoCyyLl0QGWFUMHrAZeShLWN6sjgV8Bo7hNO2SFiPK-wdqUiBJYrZd4E7Z4ljC8pnn0zYbuoh9JIWMd81HYjeROJTjCPYPxGwjeiimg=w1920-h1080"></object>
    <object
      data="https://lh3.googleusercontent.com/posGGKJU-_CbZt_cK8W2u1t_q2cTPrfwTrqfQ12w5qjVM4yq9DleQe96vrqXlH6-_gsF_CmmGrPHn88yJ-U9ytZbnkfEvl1SJnRafxB1C7lCRNtRvshc-XfXx3hWs6vwTX-M8urmO1s=w1920-h1080"></object>
    <object
      data="https://lh3.googleusercontent.com/AQKL58wYoFsMY3AvEqvvTR5HD3CixQyXiZ-w2KyCJaoopvNE9-lC3dwjbA3QPfp3mX79mZA2thZJXkADrWIZ69pC36o51BqbwTl0mAYx3gSsgWjTqi-XYoSa6rdatATW3UTQsxFuINU=w1920-h1080"></object>
    <object
      data="https://lh3.googleusercontent.com/QOjH_iG8MWftSQvYobNZsDcjGUWzbdYYVR-vURQxWc8PeX7IamjFMT8oTISnZiFfRMA2bSRYfq5ZEcRgxZmEqBLcEOgvjNNGlykgMQjX01DlU7Z1RsWn1UiqDiEcyu9HPL9M-qRtFqg=w1920-h1080"></object>
    <object
      data="https://lh3.googleusercontent.com/ljS074uzlHmoAJ53_JNVfKSA1NjKokqOEnrPzwf9zLbVFaWMbR2ncMcgje-Wzin9QpPbGr_CHScYJ-8W6K-hkMUHJilueIs_XdQGRFxs9Xgualvyp0HYbNm-ZSl9ozEQWLGkgQVJ7_E=w1920-h1080"></object>
    <object
      data="https://lh3.googleusercontent.com/bcln2vfAjTEbmlWUfFFFH5Fk85gCiqNzvWQaD2tl-UIUAR2QvEcMPhNFmZd-Ptx2J0kHGJnl--PHds8_hWZwuZ6su2_8S9CWLj_03LxhOYlWQDCqEZ_gpVrhWm2xBA7X-fPsoNxDZJI=w1920-h1080"></object>
    <object
      data="https://lh3.googleusercontent.com/o3zCMEnEmbwCoZk3eBrnc8lfEjJ2JYIOfuXHv9IidVJAiWhM_H1Rd6GnQ8Yax4NkUq6o8cQM1iWbsn4UpwbSebffkwKJ80Bh9lNmLYDEYtC4xMP1PyeqOcNdDJ905QMyzr7XCzNMwls=w1920-h1080"></object>
    <object
      data="https://lh3.googleusercontent.com/p81k_iXbFN4zpaJd9iOX6pSyAJnSReAujjVfrw0OcUo3kI-IU6yRr_nTXANMziyxp8s0f8gk38xP6xKVZWDCQcCGT5bfSy5nZcEgdQ2UoMUj0YT5m8gI2FkHfSvk6eLkcEtJHCZtn_g=w1920-h1080"></object>
    <object
      data="https://lh3.googleusercontent.com/l67Ap9ZhR7j9PjVniVqs58qhMDDQuwPEkNk00q1cinPTbfY6KVY5OTX-gDCj4rbu3fFzLRICklzU9ibb8F6HLaKneqjDmXD7ceEmyYPfNFQJndBatfja_UuTuvsE9mn0ob3B8wfEDsE=w1920-h1080"></object>
    <object
      data="https://lh3.googleusercontent.com/zjn0dS6PB-c3yRJcAz7Tw9bMId19KBwCxvps8OmznwpzSp6aEFDtSviOPd2HtqC96s2d3f_YIdUV8i8xAiwoZUs5R7Hz6EE0sPjls6uIClhmCKbfFklk0f1tiOkvWARVzmnbiy5hF58=w1920-h1080"></object>
    <object
      data="https://lh3.googleusercontent.com/BxPubpGWHHQ-iMzD5ZBLF0dyeQaQ3ltxoMDLdqQn07qHbzSynAaqBuTn1f8aiL2Z9rV1i6arY3j1OiDuTUtoKNC9HW9-KhfCnuldw82lPBKMnGeqdVo1SAC15DANdsRUQNlH12lLa_8=w1920-h1080"></object>
    <object
      data="https://lh3.googleusercontent.com/zgWFpF8jtGWgL0Tf87g7p0E94Y9LR6PFLQBpWodfo7NLdfd6rQBx_LtB9ENCnCdfK1Ge2u6zEiK_MkDOKPwSxkAL7D5rUde5tbK1GZeKszqTZxyXGBQa4Ap-ywYcjCQzSlsKVMelv5s=w1920-h1080"></object>
    <object
      data="https://lh3.googleusercontent.com/HAVoDJaBcdSYiOB_RnVmsp4wagZNjjhaVYUTFW6Beja9zN2gy4Fpq9AgOzpC6QSxCqjQfhKlI_ZszniqKMyfehopolWk4ouvjI6YNTcDZKbBB81Lyf5AjWsWH6HM_rBE7IGtcusrs20=w1920-h1080"></object>
    <object
      data="https://lh3.googleusercontent.com/vyXIR_kdG5gqjbb2nMUEXgOm-Y6dxQXcf-CrffhERncvmG-lssPHbnn6s1Twzv5N85PoWK0n5Ni5Ini2Ex_UcYP5yqRA-nGupD6sUC3QdoTxZCq_MNzKxfYZbEzugwezkfCtJO8m9Uc=w1920-h1080"></object>
    <object
      data="https://lh3.googleusercontent.com/9qktLPZUsjR9qqXp9GtZhKriIxEzHe6_HRm8vMgAmx0OLxk2UOeO1eOr3o3__EwloSHRxb8O03jL76XHAznz4vy2KbbBS8PKG97kn5ZlUSPoO_JtDna_WjJN2d5GqnI-D13mAfqgLWA=w1920-h1080"></object>
    <object
      data="https://lh3.googleusercontent.com/d0ZiTf_dclm7Nu0b6QOis4r1fw4RJJ5L8IE3IPiaea59Pg6Uo9_oTG2I4P65rl1EYJyz-TaRhq1DjWAbb3uBs_Bal8WeNbMXY5dB_B-gG0HkFU5gpAlIqCDHWACirILvXOzcVimUCPY=w1920-h1080"></object>
    <object
      data="https://lh3.googleusercontent.com/cCwomcYTwkWcVdJzvB7VWE7BBSA_sEsPOH5JheitaWbOPfr8fjXkXPo-q5RZ9vqzHBfUSdnxTixBrltFqikfosrqk_-64xmqljdvHl-l8kV5pIjVD6Q7cUG7z7-FnDqGw9fNaxepJLg=w1920-h1080"></object>
    <object
      data="https://lh3.googleusercontent.com/R_bnss5TpD0WcbdDrI_KAhWIpVF7s8s-TAYTBeYw8FiRskH-v5rjJNHdMdqreyjD2ng8nV7XUGRwJzKYL5kUZSIY0lStxxrt76Y01ny9cm-heJIS-I2wx-HXexis1NBra4T_MaUKeWk=w1920-h1080"></object>
    <object
      data="https://lh3.googleusercontent.com/PikYG8K96LY1ESYvDMephIarrulwStD8YUyfQghU-ZS7R9I2pzyhf6nPmg65gLnFKCS6WQadgZpnghnuay7GA8JlVjxMCfP3bbKPQcem7q9HGrUg9ee69Plwo_N0CmOwrCSGaQm8Fg8=w1920-h1080"></object>
    <object
      data="https://lh3.googleusercontent.com/N6Kh6rLzXf6p3SB7gNQb205NRRSAMPrEbFYFkfXnnOHmoCu12TMs4Msy6ziBgu7xtsDe7kXTqmMWYNj-xDJOCBPc5ya_XxqbLSJWgFES17OEtWlGRBtNC7V2NapsTVi7NmcabRDvYiA=w1920-h1080"></object>
    <object
      data="https://lh3.googleusercontent.com/tQDL-QfpKLDhZqK0Hq9e0gOWeAUKs_TU70NK2ZnzGhfa3qVtbqt32daniOCeAa4qRKX5x5YdTI37epbzxd7qDSepk2nYaKlw0c_yakYezNyAQnaD8pQM1PXyUwpE6y-nmJFBC3gFGCA=w1920-h1080"></object>
    <object
      data="https://lh3.googleusercontent.com/l20oK3olGUPdfbYFHD0l0u3Lw7s6g8jSoc0kssl5H17AeL-W1vPg7l2W4Y143ZgntYN6nrKuYFAQ9fq6KkocD7ABeT7zj64HwYM_ZRMZxWK1cRtV1gu07A1ISe__Ww7COzaphsC2Jxw=w1920-h1080"></object>
    <object
      data="https://lh3.googleusercontent.com/aZgjIoMCH0PenDtBweqFUhmH4OB4bH59Le-fR2UJiuWKnKPwSlw2lopmgX2ESFUBGeBwxuRkR9Cb2VWEA7RWU59HA0gxygib96YOlDJQ4SwIJmn11DJidULm17My66dv8xkDTR_AH6E=w1920-h1080"></object>
    <object
      data="https://lh3.googleusercontent.com/7acTkcXZ9tLcBRxliv4JYuqrRKTBazEQVLTIGQHQ88_-nJUMo5drqYyE_8Ivzh5ssGcyRx6uYG1l8ppQJn5B9xRp_QQpeqp-JRNB21QDVPxavsFOF0PvcmPvwkDvF_K0ji1RR2_YdZA=w1920-h1080"></object>
    <object
      data="https://lh3.googleusercontent.com/Kp0FtYd6mjRt3YX6Oo4ZgOr7R42isaqLbs9zo-Sf3JH2Z5gDse3BeRqItS_aKY2wid5nFXAi16MQhkB4l6Budx43oTjuWTM0oCNJ1HLzRcxsoP9tGiVLElScN-xbQltGLiAec1UfLs8=w1920-h1080"></object>
    <object
      data="https://lh3.googleusercontent.com/E2kfJZfruyyEGn7ThZxN5x3EtXXGarA5Ua6Xw8dkbcSE-koy1gxpBO8HX6MO9BjH8je11ZycxlcIebEsGryS_K6yC_GG4IQvPpUXgE_SJxS6nlbuq_R3OdjpLYsbd7MttFczidIcEwY=w1920-h1080"></object>
    <object
      data="https://lh3.googleusercontent.com/xkMa-KQFY6KGZ__tJz7cLQl4wU3clctGjE9zhwXi-D7LySAuheT2nlwtvdXe-gUF0vmrXLFeD3tYbI5OBVT1Ky_x9wC4_C1nxgxJGUc7JrPjeEUw2O95RJIaFZl7JurWY-qMm-5x8Bc=w1920-h1080"></object>
    <object
      data="https://lh3.googleusercontent.com/5NC0pI26lmkUgKuyB9cCt92fzTYcCf8zgQaszpcQNXwrUpgSnPb3ED3_Ndi-Kg3rwInKfhjkkbEl9311wGTAkU4Xxbp9C7gWeW9H32q2Ds6BapcqyKR3XpTg8iAv4MhxNVTaeZNEScA=w1920-h1080"></object>
    <object
      data="https://lh3.googleusercontent.com/VjDlr-5L7KGpvooK3KPmwTxrDzfJB2Jzra4e-vffc4mz8gOV1DSleKcGWr1_vj9y0gCsjKV5gNioR8mGKGqE4lmbqg3rw91r2JEY7BHKfzz3gNFManf2-5Eb518z9qgWEe3fhsIZ3Fc=w1920-h1080"></object>
    <object
      data="https://lh3.googleusercontent.com/XUpbNiuhDbR4wZk218tE1ZR1D4lcG0FVGZDZlNmAJFX-_UYnFovvbR9YhYJfB4k3JxOnBryn4Ne0dhkqUMVMsATFMn4MnI-IwqUx5R29SBrkVSY5oSdf4NmbmVWZH9zAIpNMObZE1Gg=w1920-h1080"></object>
    <object
      data="https://lh3.googleusercontent.com/7TeiOqHOdvYklm8rjpCIpeOFEjQf3lThK35PLqwppHDxMdhUNBct5hMfXSFRlDCXadtdORpk7l5Zg_dvKkZkTh3x7JFwcnIbhlVNov1HpriWDXvR1VMVnDTuu18GVx8HTx-r8crgI-Q=w1920-h1080"></object>
    <object
      data="https://lh3.googleusercontent.com/t1Qb4XX5-jwKYxlYsTkE8DJ_DshS1FXB2mk87wOm73vy2HF7SBK6XdhIkfiFw3_rTVYsjf5_8vQ3gI_3rEr21fosUuyxyfxIsZxwpN7wK5VJbNSARAuGX4HlC4fDVhReMtS9zXgQrxg=w1920-h1080"></object>
    <object
      data="https://lh3.googleusercontent.com/oP2KSmZ_tD5BTLeGO4Tyqny1_AOSIuc-gWmF254OzA8Kwc9kM8XEapXH6UPQwJvSzEFHcmHaypCF4HlAAB4HNriZ3wpeVqBLARiLduEz5KrH2NAPbX00WLuFYu-uZiBXN_koUUPWf3c=w1920-h1080"></object>
    <object
      data="https://lh3.googleusercontent.com/65CX1k_EsbS-Uhtq0lz93cl6jzs4WA4eFoNWYs1XxXRCqDqpVmgbJLZVIk00ueUorFpj7n0xa0A9Cgmuf2InK-Ebud2uMK1rk3Isk582vUr7K3hYr-qnoe5arJGPcjpyrMxElZ3NDvU=w1920-h1080"></object>
    <object
      data="https://lh3.googleusercontent.com/OKlSypRdR5f2rk7SDGEICPdzRFNs81lxYvSsQ7tT_N-zL3DR6eLG5mblAAMRbJzkwUBFLmqvrlGhN7WX3jLVnGaxfb0e2WUilZMHLWXGeNxCzydfOMWyGiYUWjvqMPmaiQ1Np7KhUMc=w1920-h1080"></object>
    <object
      data="https://lh3.googleusercontent.com/Ynfo-yOOOTVHcNFQF2iaCNiQZth10UgMsoKcGgy8-wvHU3PkfhtNhhftc4t3xmvTfqiL4ybO7r9OTpeAGzrkgUwHGjI4W_z9pKG-R5sDO-h3iBuARcJFjxXw3bzuMaAmA_0YdNkJaTI=w1920-h1080"></object>
    <object
      data="https://lh3.googleusercontent.com/tX3J4Uxk9IRJINa7VawlBHVGJT75PuOxkDFLg1fxfja3mVWZv3016jNHeiZsoSYFlIZvzCkoFqC3eQ5HVZZBaUotbFpUALmm9MF8UkR5OJCB65BsJVZCcPrCYDVyLMFOrNAyuLtlSbM=w1920-h1080"></object>
    <object
      data="https://lh3.googleusercontent.com/Fs-4FpELHiQE1qFtzkk-a-t02PokpzmAmZkTTnBq0G4na4jocBg-paoqfXObUz7txqIxDM5lZZU2lz6gVD9uPTfULhlkJz6m-eqUA2WuJ-NhehWB2978waL26wnK4HoELCBovlNWGcE=w1920-h1080"></object>
    <object
      data="https://lh3.googleusercontent.com/go7nRvM0wmSIhNjL4He7jbi7nV0Yj76SW8N8AuHb8oauGglAvSLDuxJzPLu3KbZ8zw2RuvEcu6NTjyoVH7gGCpLYAHdd-dpwEyrYAWmweRFpIkzu5eGDScqVsBl7En9BOYvOoxFOzzQ=w1920-h1080"></object>
    <object
      data="https://lh3.googleusercontent.com/Dq1v8d-rRccaEirrIIwVf_Gt6b7QQrS86yGdpEbMDh8zfLR5pXM1RCdtflE5r9qy7R7EPA6VB1lfHzb6e4yW7hhEY1u8kMTPk9gDG88m8b004-oEDbbkpiLSgBQD8FnyTFz6dkOcleA=w1920-h1080"></object>
    <object
      data="https://lh3.googleusercontent.com/7fn1f3B1J7Fyijdlh2eWVg2gj6xigDmFIazdGX1AV6OryX2baUt7zG4Eu3zJNXMV9wh35K-C2Wngxy4JqJZ9TIrNb9ChYqPJtAc9g1sslszo6fnnLb5tWIBq0zYlSgNkdM7KeRW5QkQ=w1920-h1080"></object>
    <object
      data="https://lh3.googleusercontent.com/53CnhcHd7ybIE9LinBHpfktRWOWdq3BdEDqGDAAr4UigM8Hsh7N9eA_FBym-RX23EO6Lq8XJ_ZuEmVS2aLaPQChfLVe00vUoYJuT-UZdJ1i0CQiO1w2GV3OfWubuDUn3lpkIv_GM4U4=w1920-h1080"></object>
    <object
      data="https://lh3.googleusercontent.com/X9oVs83R0OuQ8MB5bF3F2JvFhkJS3Oaywrp9dLzxKAa8CY_iFWuBsS7oQlgV8RsnFdSkSrcoy4b_0bAkMFVZgUdQ0ViwG5KPl2DclNvHLeIg1hOuxksWxA36IR7JvqI1vPnOMT3ysoU=w1920-h1080"></object>
    <object
      data="https://lh3.googleusercontent.com/rIxF6cBqjlnW5NhsG5hHH7u6kWdowHiI-kbIXiTX36KMewaX_XRt2ECI0KV1fdjCZouIcyw8rRxHTuOGHjFVfyC78V2wVRDNWzfsxcebSCpaOftUL3zigvt5E5Z-R9ChikkPZfvM46o=w1920-h1080"></object>
    <object
      data="https://lh3.googleusercontent.com/U8b-pAyuQxo_6u1EpS-P9wipWluGXSuVwEohIvyQ6aqDJmO2WVmh1EeWdFROE8eV_TnPMLb2rk_UC6lFQZ34JoQOWlY3ZNLB-n8Hn7ky-fS7kTzHdEVG0z_zWEzxIaMBa9CoQ6mqzus=w1920-h1080"></object>
    <object
      data="https://lh3.googleusercontent.com/wQDff44B9j0OXSM4tBrI78aZDXqk4XTlkZnQ3wgT9d8vYhVi5jcxIkxl1cAtuH13-U0_lpZa8Jjp0E_b6SXYe1jJj99umAVubEz1bnOORyphSjsBoTKHLlLdQQNdRAvbC7_oP4zi7AU=w1920-h1080"></object>
    <object
      data="https://lh3.googleusercontent.com/LzFRxF6J7HAxbc0yqVJ50gLJ6GgPoq_j8jqAG6Uy2x7lggRIMPWd2Jyn4nOjPPtKGRIkLWCxOV5lb6pUyMXiz89S3OZFUBAXkrCWLrAt7NLqchZngIxZtOkBwWLghIratp-ZEUYIvV8=w1920-h1080"></object>
    <object
      data="https://lh3.googleusercontent.com/aEqvJCF0b_iPd8mubv5RY7KIx-vIn01Dt6lmH7zoxJfEVlj4pp49AUFIem8mMVpAviGLCXAo2W9MJjbPnt9VADroT4A2sU39KqHKnYDUZMkxd8DMKHfn4tw-5ry4u-iARpvmpQijzgs=w1920-h1080"></object>
  </div>

</body>

{% endblock %}

</html>