<!DOCTYPE html>
<html lang="fr">

{% load static %}

<head>
    <title>CMIX</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<header>
    <script src="{% static 'js/navbar_shrink.js' %}"></script>
    <div class="menu-toggle" id="hamburger">
        <i class="fas fa-bars"></i>
    </div>
    <div class="overlay"></div>
    <div class="container">
        <nav id="navbar">
            <a id='short' href='/'><img src="{% static 'img/logocmix.png' %}" class="logo" id="logo"></a>
            <!--<img src="{% static 'img/logocmix.png' %}" class="logo" id="logo">-->
            <ul>
                <li><a href="/presta/name/">Demander une presta</a></li>
                <li><a href="#">Open events</a></li>
                <li><a href="/presta/contact/">Medias</a></li>
                <li><a href="#">Login</a></li>
            </ul>
        </nav>
    </div>
</header>

<body>
    <script src="{% static 'js/body_fade.js' %}"></script>
    <div class="row">
        <div class="col">
            <h1>CMIX</h1>
            <form action="{% url 'presta:name' %}" method="POST">
                {% csrf_token %}
                {% for field in form.visible_fields %}
                <p>
                    <label>{{ field.label }}</label>
                    <em>{{ field.help_text }}</em>
                    {{ field }}
                </p>
                {% endfor %}
                <input type="submit" value="Submit">
            </form>

        </div>
        <div class="col">
            <!-- On a la place de mettre une autre boite de texte sur le coté-->
        </div>
    </div>
</body>

</html>