<!DOCTYPE html>
<html lang="fr">

{% extends 'base.html' %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/base.css' %}">
<body>
  <link rel="stylesheet" href="{% static 'css/playlist.css' %}">
  <script src="{% static 'js/body_fade.js' %}"></script>
  <div class="row">
    <div class="col">
      <p>Tu veux découvrir les sons du pôle prod’ ou retrouver une chouette musique que tu aurais entendue lors d’une de nos prestas ?</p>
      <p>Tu trouveras ton bonheur ici.</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <iframe src="https://open.spotify.com/embed/playlist/2864NGJh1KfjsRlQ6jmDYi" width="300" height="380" 
        frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
    </div>
    <div class="col">
      <iframe src="https://open.spotify.com/embed/playlist/2ZgcxXtSMo3wyzG02mzLdZ" width="300" height="380"
        frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
    </div>
  </div>
</body>

{% endblock %}
</html>