<!DOCTYPE html>
<html lang="fr">

{% extends 'base.html' %}

{% block content %}
{% load static %}

<body>
  <script src="{% static 'js/body_fade.js' %}"></script>
  <div class="row">
    <div class="col">
      <iframe src="https://open.spotify.com/embed/playlist/6AsYV4x3u0sKvzJTVPUsvT" width="300" height="380"
        frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
    </div>
    <div class="col">
      <iframe src="https://open.spotify.com/embed/playlist/2ZgcxXtSMo3wyzG02mzLdZ" width="300" height="380"
        frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
    </div>
  </div>
</body>

{% endblock %}
</html>