.row{
  margin-left: 5%;
  margin-right: 10%;
  display: flex;
  height: 88%;
  margin-top: 20vh;
}
.col{
  flex-basis: 80%;
}
.center {
	margin: auto;
}
h1{
  color: #ffff;
  font-size: 6rem;
  text-shadow: 1px 1px 2rem rgba(0,0,0,.8);
}
h2{
   color: #ffff;
   font-size: 2.3rem;
   text-shadow: 1px 1px 1.5rem rgba(0,0,0,.8);
}

form{
	display: table;
}

p{
  color: #ffff;
  font-size: 1.3rem;
  line-height: 1.4rem;
  text-shadow: 1px 1px 1.1rem rgba(0,0,0,.8);
}


label{
	color: #ffff;
	font-size: 1.3rem;
    line-height: 1.4rem;
    text-shadow: 1px 1px 1.1rem rgba(0,0,0,.8);
	display: table-cell;
	padding: 5px;
	white-space: nowrap; 
}
input{
	display: table-cell;
}